################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VersionControl-test2231566/CopilotIndices/17.13.196.30798
/.vs/VersionControl-test2231566/FileContentIndex
/obj
/.vs/VersionControl-test2231566/v17
/.vs
/.gitignore
